/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
<<<<<<< HEAD
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
=======
  --bg-color: #000028;
  --color_header-title: #DB00FF;
  --color_section-title: #FF0070;
  --color_bloks-title: #000028;
  --color_paragraph-title: #000028;
  --color_paragraph: #F1B2CE;
  --color_header-buttons: #FF0070;
  --color_blocks: #FF0070;
  --color_elements: #FF0070;
  --color_button-hover: #FF007066;
  --shadow-title: 4px 4px 0 #FF0070;
  --shadow-main_link: 1.5px 1.5px 0 #FF0070;
  --shadow-ellips: 0 0 4px #FF0070;
>>>>>>> 15347ac (Initial commit)
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
<<<<<<< HEAD
}
=======
  --bg-img: url('../images/cover-image-dark.png');
}
>>>>>>> 15347ac (Initial commit)
